- cache ['admin/acl/admin_users/media_list_item', resource] do
  %li.media
    = gravatar_tag current_admin_user.email, size: 50, secure: true, html: { class: 'media-object' }
    .media-body
      %h4.media-heading= resource.name
      .media-heading-sub= resource.email
