- cache [ 'helpers/squibble_admin/markup/general_helper/async_background_processing_icon', state ] do
  - case state
  - when 'background_processing_in_progress'
    %i.fa.fa-spin.fa-spinner
  - when 'background_processing_succeeded'
    %i.fa.fa-check{ class: "font-#{default_green}" }
  - when 'background_processing_halted'
    %i.fa.fa-pause{ class: "font-#{default_yellow}" }
  - when 'background_processing_failed'
    %i.fafa-exclamation{ class: "font-#{default_red}" }
