- cache [ 'helpers/squibble_admin/markup/general_helper/show_timestamps', resource ] do
  = show.attribute :created_at do
    = sq_time resource.created_at
  = show.attribute :updated_at do
    = sq_time resource.updated_at
