- cache 'layouts/mailer/css_grid_extension' do
  :css
    @media (min-width: 480px) {
      .margin-top-xs-grid {
        margin-top: 15px;
      }
      .margin-bottom-xs-grid {
        margin-bottom: 15px;
      }
      .margin-left-xs-grid {
        margin-left: 15px;
      }
      .margin-right-xs-grid {
        margin-right: 15px;
      }
      .padding-top-xs-grid {
        padding-top: 15px;
      }
      .padding-bottom-xs-grid {
        padding-bottom: 15px;
      }
      .padding-left-xs-grid {
        padding-left: 15px;
      }
      .padding-right-xs-grid {
        padding-right: 15px;
      }
    }
    @media (min-width: 768px) {
      .margin-top-sm-grid {
        margin-top: 15px;
      }
      .margin-bottom-sm-grid {
        margin-bottom: 15px;
      }
      .margin-left-sm-grid {
        margin-left: 15px;
      }
      .margin-right-sm-grid {
        margin-right: 15px;
      }
      .padding-top-sm-grid {
        padding-top: 15px;
      }
      .padding-bottom-sm-grid {
        padding-bottom: 15px;
      }
      .padding-left-sm-grid {
        padding-left: 15px;
      }
      .padding-right-sm-grid {
        padding-right: 15px;
      }
    }
    @media (min-width: 992px) {
      .margin-top-md-grid {
        margin-top: 15px;
      }
      .margin-bottom-md-grid {
        margin-bottom: 15px;
      }
      .margin-left-md-grid {
        margin-left: 15px;
      }
      .margin-right-md-grid {
        margin-right: 15px;
      }
      .padding-top-md-grid {
        padding-top: 15px;
      }
      .padding-bottom-md-grid {
        padding-bottom: 15px;
      }
      .padding-left-md-grid {
        padding-left: 15px;
      }
      .padding-right-md-grid {
        padding-right: 15px;
      }
    }
    @media (min-width: 1200px) {
      .margin-top-lg-grid {
        margin-top: 15px;
      }
      .margin-bottom-lg-grid {
        margin-bottom: 15px;
      }
      .margin-left-lg-grid {
        margin-left: 15px;
      }
      .margin-right-lg-grid {
        margin-right: 15px;
      }
      .padding-top-lg-grid {
        padding-top: 15px;
      }
      .padding-bottom-lg-grid {
        padding-bottom: 15px;
      }
      .padding-left-lg-grid {
        padding-left: 15px;
      }
      .padding-right-lg-grid {
        padding-right: 15px;
      }
    }
    @media (min-width: 1600px) {
      .margin-top-xlg-grid {
        margin-top: 15px;
      }
      .margin-bottom-xlg-grid {
        margin-bottom: 15px;
      }
      .margin-left-xlg-grid {
        margin-left: 15px;
      }
      .margin-right-xlg-grid {
        margin-right: 15px;
      }
      .padding-top-xlg-grid {
        padding-top: 15px;
      }
      .padding-bottom-xlg-grid {
        padding-bottom: 15px;
      }
      .padding-left-xlg-grid {
        padding-left: 15px;
      }
      .padding-right-xlg-grid {
        padding-right: 15px;
      }
    }

    @media (min-width: 480px) {
      .margin-top-xs-50 {
        margin-top: 50px;
      }
      .margin-bottom-xs-50 {
        margin-bottom: 50px;
      }
      .margin-left-xs-50 {
        margin-left: 50px;
      }
      .margin-right-xs-50 {
        margin-right: 50px;
      }
      .padding-top-xs-50 {
        padding-top: 50px;
      }
      .padding-bottom-xs-50 {
        padding-bottom: 50px;
      }
      .padding-left-xs-50 {
        padding-left: 50px;
      }
      .padding-right-xs-50 {
        padding-right: 50px;
      }
      .margin-top-xs-40 {
        margin-top: 40px;
      }
      .margin-bottom-xs-40 {
        margin-bottom: 40px;
      }
      .margin-left-xs-40 {
        margin-left: 40px;
      }
      .margin-right-xs-40 {
        margin-right: 40px;
      }
      .padding-top-xs-40 {
        padding-top: 40px;
      }
      .padding-bottom-xs-40 {
        padding-bottom: 40px;
      }
      .padding-left-xs-40 {
        padding-left: 40px;
      }
      .padding-right-xs-40 {
        padding-right: 40px;
      }
      .margin-top-xs-30 {
        margin-top: 30px;
      }
      .margin-bottom-xs-30 {
        margin-bottom: 30px;
      }
      .margin-left-xs-30 {
        margin-left: 30px;
      }
      .margin-right-xs-30 {
        margin-right: 30px;
      }
      .padding-top-xs-30 {
        padding-top: 30px;
      }
      .padding-bottom-xs-30 {
        padding-bottom: 30px;
      }
      .padding-left-xs-30 {
        padding-left: 30px;
      }
      .padding-right-xs-30 {
        padding-right: 30px;
      }
      .margin-top-xs-20 {
        margin-top: 20px;
      }
      .margin-bottom-xs-20 {
        margin-bottom: 20px;
      }
      .margin-left-xs-20 {
        margin-left: 20px;
      }
      .margin-right-xs-20 {
        margin-right: 20px;
      }
      .padding-top-xs-20 {
        padding-top: 20px;
      }
      .padding-bottom-xs-20 {
        padding-bottom: 20px;
      }
      .padding-left-xs-20 {
        padding-left: 20px;
      }
      .padding-right-xs-20 {
        padding-right: 20px;
      }
      .margin-top-xs-10 {
        margin-top: 10px;
      }
      .margin-bottom-xs-10 {
        margin-bottom: 10px;
      }
      .margin-left-xs-10 {
        margin-left: 10px;
      }
      .margin-right-xs-10 {
        margin-right: 10px;
      }
      .padding-top-xs-10 {
        padding-top: 10px;
      }
      .padding-bottom-xs-10 {
        padding-bottom: 10px;
      }
      .padding-left-xs-10 {
        padding-left: 10px;
      }
      .padding-right-xs-10 {
        padding-right: 10px;
      }
      .margin-top-xs-0 {
        margin-top: 0px;
      }
      .margin-bottom-xs-0 {
        margin-bottom: 0px;
      }
      .margin-left-xs-0 {
        margin-left: 0px;
      }
      .margin-right-xs-0 {
        margin-right: 0px;
      }
      .padding-top-xs-0 {
        padding-top: 0px;
      }
      .padding-bottom-xs-0 {
        padding-bottom: 0px;
      }
      .padding-left-xs-0 {
        padding-left: 0px;
      }
      .padding-right-xs-0 {
        padding-right: 0px;
      }
    }
    @media (min-width: 768px) {
      .margin-top-sm-50 {
        margin-top: 50px;
      }
      .margin-bottom-sm-50 {
        margin-bottom: 50px;
      }
      .margin-left-sm-50 {
        margin-left: 50px;
      }
      .margin-right-sm-50 {
        margin-right: 50px;
      }
      .padding-top-sm-50 {
        padding-top: 50px;
      }
      .padding-bottom-sm-50 {
        padding-bottom: 50px;
      }
      .padding-left-sm-50 {
        padding-left: 50px;
      }
      .padding-right-sm-50 {
        padding-right: 50px;
      }
      .margin-top-sm-40 {
        margin-top: 40px;
      }
      .margin-bottom-sm-40 {
        margin-bottom: 40px;
      }
      .margin-left-sm-40 {
        margin-left: 40px;
      }
      .margin-right-sm-40 {
        margin-right: 40px;
      }
      .padding-top-sm-40 {
        padding-top: 40px;
      }
      .padding-bottom-sm-40 {
        padding-bottom: 40px;
      }
      .padding-left-sm-40 {
        padding-left: 40px;
      }
      .padding-right-sm-40 {
        padding-right: 40px;
      }
      .margin-top-sm-30 {
        margin-top: 30px;
      }
      .margin-bottom-sm-30 {
        margin-bottom: 30px;
      }
      .margin-left-sm-30 {
        margin-left: 30px;
      }
      .margin-right-sm-30 {
        margin-right: 30px;
      }
      .padding-top-sm-30 {
        padding-top: 30px;
      }
      .padding-bottom-sm-30 {
        padding-bottom: 30px;
      }
      .padding-left-sm-30 {
        padding-left: 30px;
      }
      .padding-right-sm-30 {
        padding-right: 30px;
      }
      .margin-top-sm-20 {
        margin-top: 20px;
      }
      .margin-bottom-sm-20 {
        margin-bottom: 20px;
      }
      .margin-left-sm-20 {
        margin-left: 20px;
      }
      .margin-right-sm-20 {
        margin-right: 20px;
      }
      .padding-top-sm-20 {
        padding-top: 20px;
      }
      .padding-bottom-sm-20 {
        padding-bottom: 20px;
      }
      .padding-left-sm-20 {
        padding-left: 20px;
      }
      .padding-right-sm-20 {
        padding-right: 20px;
      }
      .margin-top-sm-10 {
        margin-top: 10px;
      }
      .margin-bottom-sm-10 {
        margin-bottom: 10px;
      }
      .margin-left-sm-10 {
        margin-left: 10px;
      }
      .margin-right-sm-10 {
        margin-right: 10px;
      }
      .padding-top-sm-10 {
        padding-top: 10px;
      }
      .padding-bottom-sm-10 {
        padding-bottom: 10px;
      }
      .padding-left-sm-10 {
        padding-left: 10px;
      }
      .padding-right-sm-10 {
        padding-right: 10px;
      }
      .margin-top-sm-0 {
        margin-top: 0px;
      }
      .margin-bottom-sm-0 {
        margin-bottom: 0px;
      }
      .margin-left-sm-0 {
        margin-left: 0px;
      }
      .margin-right-sm-0 {
        margin-right: 0px;
      }
      .padding-top-sm-0 {
        padding-top: 0px;
      }
      .padding-bottom-sm-0 {
        padding-bottom: 0px;
      }
      .padding-left-sm-0 {
        padding-left: 0px;
      }
      .padding-right-sm-0 {
        padding-right: 0px;
      }
    }
    @media (min-width: 992px) {
      .margin-top-md-50 {
        margin-top: 50px;
      }
      .margin-bottom-md-50 {
        margin-bottom: 50px;
      }
      .margin-left-md-50 {
        margin-left: 50px;
      }
      .margin-right-md-50 {
        margin-right: 50px;
      }
      .padding-top-md-50 {
        padding-top: 50px;
      }
      .padding-bottom-md-50 {
        padding-bottom: 50px;
      }
      .padding-left-md-50 {
        padding-left: 50px;
      }
      .padding-right-md-50 {
        padding-right: 50px;
      }
      .margin-top-md-40 {
        margin-top: 40px;
      }
      .margin-bottom-md-40 {
        margin-bottom: 40px;
      }
      .margin-left-md-40 {
        margin-left: 40px;
      }
      .margin-right-md-40 {
        margin-right: 40px;
      }
      .padding-top-md-40 {
        padding-top: 40px;
      }
      .padding-bottom-md-40 {
        padding-bottom: 40px;
      }
      .padding-left-md-40 {
        padding-left: 40px;
      }
      .padding-right-md-40 {
        padding-right: 40px;
      }
      .margin-top-md-30 {
        margin-top: 30px;
      }
      .margin-bottom-md-30 {
        margin-bottom: 30px;
      }
      .margin-left-md-30 {
        margin-left: 30px;
      }
      .margin-right-md-30 {
        margin-right: 30px;
      }
      .padding-top-md-30 {
        padding-top: 30px;
      }
      .padding-bottom-md-30 {
        padding-bottom: 30px;
      }
      .padding-left-md-30 {
        padding-left: 30px;
      }
      .padding-right-md-30 {
        padding-right: 30px;
      }
      .margin-top-md-20 {
        margin-top: 20px;
      }
      .margin-bottom-md-20 {
        margin-bottom: 20px;
      }
      .margin-left-md-20 {
        margin-left: 20px;
      }
      .margin-right-md-20 {
        margin-right: 20px;
      }
      .padding-top-md-20 {
        padding-top: 20px;
      }
      .padding-bottom-md-20 {
        padding-bottom: 20px;
      }
      .padding-left-md-20 {
        padding-left: 20px;
      }
      .padding-right-md-20 {
        padding-right: 20px;
      }
      .margin-top-md-10 {
        margin-top: 10px;
      }
      .margin-bottom-md-10 {
        margin-bottom: 10px;
      }
      .margin-left-md-10 {
        margin-left: 10px;
      }
      .margin-right-md-10 {
        margin-right: 10px;
      }
      .padding-top-md-10 {
        padding-top: 10px;
      }
      .padding-bottom-md-10 {
        padding-bottom: 10px;
      }
      .padding-left-md-10 {
        padding-left: 10px;
      }
      .padding-right-md-10 {
        padding-right: 10px;
      }
      .margin-top-md-0 {
        margin-top: 0px;
      }
      .margin-bottom-md-0 {
        margin-bottom: 0px;
      }
      .margin-left-md-0 {
        margin-left: 0px;
      }
      .margin-right-md-0 {
        margin-right: 0px;
      }
      .padding-top-md-0 {
        padding-top: 0px;
      }
      .padding-bottom-md-0 {
        padding-bottom: 0px;
      }
      .padding-left-md-0 {
        padding-left: 0px;
      }
      .padding-right-md-0 {
        padding-right: 0px;
      }
    }
    @media (min-width: 1200px) {
      .margin-top-lg-50 {
        margin-top: 50px;
      }
      .margin-bottom-lg-50 {
        margin-bottom: 50px;
      }
      .margin-left-lg-50 {
        margin-left: 50px;
      }
      .margin-right-lg-50 {
        margin-right: 50px;
      }
      .padding-top-lg-50 {
        padding-top: 50px;
      }
      .padding-bottom-lg-50 {
        padding-bottom: 50px;
      }
      .padding-left-lg-50 {
        padding-left: 50px;
      }
      .padding-right-lg-50 {
        padding-right: 50px;
      }
      .margin-top-lg-40 {
        margin-top: 40px;
      }
      .margin-bottom-lg-40 {
        margin-bottom: 40px;
      }
      .margin-left-lg-40 {
        margin-left: 40px;
      }
      .margin-right-lg-40 {
        margin-right: 40px;
      }
      .padding-top-lg-40 {
        padding-top: 40px;
      }
      .padding-bottom-lg-40 {
        padding-bottom: 40px;
      }
      .padding-left-lg-40 {
        padding-left: 40px;
      }
      .padding-right-lg-40 {
        padding-right: 40px;
      }
      .margin-top-lg-30 {
        margin-top: 30px;
      }
      .margin-bottom-lg-30 {
        margin-bottom: 30px;
      }
      .margin-left-lg-30 {
        margin-left: 30px;
      }
      .margin-right-lg-30 {
        margin-right: 30px;
      }
      .padding-top-lg-30 {
        padding-top: 30px;
      }
      .padding-bottom-lg-30 {
        padding-bottom: 30px;
      }
      .padding-left-lg-30 {
        padding-left: 30px;
      }
      .padding-right-lg-30 {
        padding-right: 30px;
      }
      .margin-top-lg-20 {
        margin-top: 20px;
      }
      .margin-bottom-lg-20 {
        margin-bottom: 20px;
      }
      .margin-left-lg-20 {
        margin-left: 20px;
      }
      .margin-right-lg-20 {
        margin-right: 20px;
      }
      .padding-top-lg-20 {
        padding-top: 20px;
      }
      .padding-bottom-lg-20 {
        padding-bottom: 20px;
      }
      .padding-left-lg-20 {
        padding-left: 20px;
      }
      .padding-right-lg-20 {
        padding-right: 20px;
      }
      .margin-top-lg-10 {
        margin-top: 10px;
      }
      .margin-bottom-lg-10 {
        margin-bottom: 10px;
      }
      .margin-left-lg-10 {
        margin-left: 10px;
      }
      .margin-right-lg-10 {
        margin-right: 10px;
      }
      .padding-top-lg-10 {
        padding-top: 10px;
      }
      .padding-bottom-lg-10 {
        padding-bottom: 10px;
      }
      .padding-left-lg-10 {
        padding-left: 10px;
      }
      .padding-right-lg-10 {
        padding-right: 10px;
      }
      .margin-top-lg-0 {
        margin-top: 0px;
      }
      .margin-bottom-lg-0 {
        margin-bottom: 0px;
      }
      .margin-left-lg-0 {
        margin-left: 0px;
      }
      .margin-right-lg-0 {
        margin-right: 0px;
      }
      .padding-top-lg-0 {
        padding-top: 0px;
      }
      .padding-bottom-lg-0 {
        padding-bottom: 0px;
      }
      .padding-left-lg-0 {
        padding-left: 0px;
      }
      .padding-right-lg-0 {
        padding-right: 0px;
      }
    }
    @media (min-width: 1600px) {
      .margin-top-xlg-50 {
        margin-top: 50px;
      }
      .margin-bottom-xlg-50 {
        margin-bottom: 50px;
      }
      .margin-left-xlg-50 {
        margin-left: 50px;
      }
      .margin-right-xlg-50 {
        margin-right: 50px;
      }
      .padding-top-xlg-50 {
        padding-top: 50px;
      }
      .padding-bottom-xlg-50 {
        padding-bottom: 50px;
      }
      .padding-left-xlg-50 {
        padding-left: 50px;
      }
      .padding-right-xlg-50 {
        padding-right: 50px;
      }
      .margin-top-xlg-40 {
        margin-top: 40px;
      }
      .margin-bottom-xlg-40 {
        margin-bottom: 40px;
      }
      .margin-left-xlg-40 {
        margin-left: 40px;
      }
      .margin-right-xlg-40 {
        margin-right: 40px;
      }
      .padding-top-xlg-40 {
        padding-top: 40px;
      }
      .padding-bottom-xlg-40 {
        padding-bottom: 40px;
      }
      .padding-left-xlg-40 {
        padding-left: 40px;
      }
      .padding-right-xlg-40 {
        padding-right: 40px;
      }
      .margin-top-xlg-30 {
        margin-top: 30px;
      }
      .margin-bottom-xlg-30 {
        margin-bottom: 30px;
      }
      .margin-left-xlg-30 {
        margin-left: 30px;
      }
      .margin-right-xlg-30 {
        margin-right: 30px;
      }
      .padding-top-xlg-30 {
        padding-top: 30px;
      }
      .padding-bottom-xlg-30 {
        padding-bottom: 30px;
      }
      .padding-left-xlg-30 {
        padding-left: 30px;
      }
      .padding-right-xlg-30 {
        padding-right: 30px;
      }
      .margin-top-xlg-20 {
        margin-top: 20px;
      }
      .margin-bottom-xlg-20 {
        margin-bottom: 20px;
      }
      .margin-left-xlg-20 {
        margin-left: 20px;
      }
      .margin-right-xlg-20 {
        margin-right: 20px;
      }
      .padding-top-xlg-20 {
        padding-top: 20px;
      }
      .padding-bottom-xlg-20 {
        padding-bottom: 20px;
      }
      .padding-left-xlg-20 {
        padding-left: 20px;
      }
      .padding-right-xlg-20 {
        padding-right: 20px;
      }
      .margin-top-xlg-10 {
        margin-top: 10px;
      }
      .margin-bottom-xlg-10 {
        margin-bottom: 10px;
      }
      .margin-left-xlg-10 {
        margin-left: 10px;
      }
      .margin-right-xlg-10 {
        margin-right: 10px;
      }
      .padding-top-xlg-10 {
        padding-top: 10px;
      }
      .padding-bottom-xlg-10 {
        padding-bottom: 10px;
      }
      .padding-left-xlg-10 {
        padding-left: 10px;
      }
      .padding-right-xlg-10 {
        padding-right: 10px;
      }
      .margin-top-xlg-0 {
        margin-top: 0px;
      }
      .margin-bottom-xlg-0 {
        margin-bottom: 0px;
      }
      .margin-left-xlg-0 {
        margin-left: 0px;
      }
      .margin-right-xlg-0 {
        margin-right: 0px;
      }
      .padding-top-xlg-0 {
        padding-top: 0px;
      }
      .padding-bottom-xlg-0 {
        padding-bottom: 0px;
      }
      .padding-left-xlg-0 {
        padding-left: 0px;
      }
      .padding-right-xlg-0 {
        padding-right: 0px;
      }
    }

    .margin-top-50 {
      margin-top: 50px;
    }
    .margin-bottom-50 {
      margin-bottom: 50px;
    }
    .margin-left-50 {
      margin-left: 50px;
    }
    .margin-right-50 {
      margin-right: 50px;
    }
    .padding-top-50 {
      padding-top: 50px;
    }
    .padding-bottom-50 {
      padding-bottom: 50px;
    }
    .padding-left-50 {
      padding-left: 50px;
    }
    .padding-right-50 {
      padding-right: 50px;
    }
    .margin-top-40 {
      margin-top: 40px;
    }
    .margin-bottom-40 {
      margin-bottom: 40px;
    }
    .margin-left-40 {
      margin-left: 40px;
    }
    .margin-right-40 {
      margin-right: 40px;
    }
    .padding-top-40 {
      padding-top: 40px;
    }
    .padding-bottom-40 {
      padding-bottom: 40px;
    }
    .padding-left-40 {
      padding-left: 40px;
    }
    .padding-right-40 {
      padding-right: 40px;
    }
    .margin-top-30 {
      margin-top: 30px;
    }
    .margin-bottom-30 {
      margin-bottom: 30px;
    }
    .margin-left-30 {
      margin-left: 30px;
    }
    .margin-right-30 {
      margin-right: 30px;
    }
    .padding-top-30 {
      padding-top: 30px;
    }
    .padding-bottom-30 {
      padding-bottom: 30px;
    }
    .padding-left-30 {
      padding-left: 30px;
    }
    .padding-right-30 {
      padding-right: 30px;
    }
    .margin-top-20 {
      margin-top: 20px;
    }
    .margin-bottom-20 {
      margin-bottom: 20px;
    }
    .margin-left-20 {
      margin-left: 20px;
    }
    .margin-right-20 {
      margin-right: 20px;
    }
    .padding-top-20 {
      padding-top: 20px;
    }
    .padding-bottom-20 {
      padding-bottom: 20px;
    }
    .padding-left-20 {
      padding-left: 20px;
    }
    .padding-right-20 {
      padding-right: 20px;
    }
    .margin-top-10 {
      margin-top: 10px;
    }
    .margin-bottom-10 {
      margin-bottom: 10px;
    }
    .margin-left-10 {
      margin-left: 10px;
    }
    .margin-right-10 {
      margin-right: 10px;
    }
    .padding-top-10 {
      padding-top: 10px;
    }
    .padding-bottom-10 {
      padding-bottom: 10px;
    }
    .padding-left-10 {
      padding-left: 10px;
    }
    .padding-right-10 {
      padding-right: 10px;
    }
    .margin-top-0 {
      margin-top: 0px;
    }
    .margin-bottom-0 {
      margin-bottom: 0px;
    }
    .margin-left-0 {
      margin-left: 0px;
    }
    .margin-right-0 {
      margin-right: 0px;
    }
    .padding-top-0 {
      padding-top: 0px;
    }
    .padding-bottom-0 {
      padding-bottom: 0px;
    }
    .padding-left-0 {
      padding-left: 0px;
    }
    .padding-right-0 {
      padding-right: 0px;
    }
