- cache 'layouts/mailer/css_custom' do
  :css

    /* GENERAL SQUIBBLE CSS */
    body, table.body, h1, h2, h3, h4, h5, h6, p, td {
      // font-family: "Roboto Condensed", sans-serif !important;
      font-family: 'Raleway', 'Arial', 'Verdana', sans-serif !important;
      color: #{sq_mail_color(:text, @principal)};
    }

    a {
      outline: none !important;
      text-decoration: none;
      -webkit-transition: back 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -ms-transition: all 0.2s ease-out;
    }

    a:focus,
    a:hover,
    a:active,
    a:visited {
      outline: none !important;
      text-decoration: none;
    }

    a:hover {
      color: #{sq_mail_color(:primary, @principal)} !important;
    }

    a.button_link:hover {
      color: #{sq_mail_color(:container_bg, @principal)} !important;
    }

    .font-color-primary {
      color: #{sq_mail_color(:primary, @principal)} !important;
    }

    .font-underline {
      text-decoration: underline !important;
    }

    .font-bold {
      font-weight: bold !important;
    }

    .img-responsive {
      height: auto !important;
      max-width: 600px !important!;
      width: 100% !important;
    }

    @media only screen and (max-device-width: 480px) {
      table[class=content-table] {
        width: 290px !important;
      }

      .content-table {
        width: 290px !important;
      }

      table[class=full-width] {
        width: 380px !important;
      }

      .full-width {
        width: 380px !important;
      }

      .img-responsive {
        height: auto !important;
        max-width: 480px !important!;
        width: 100% !important;
      }

      .show-mobile {
        display: initial !important;
      }

      .hidden-mobile {
        display: none !important;
        width: 0 !important;
      }
    }

    .show-mobile {
      display: none;
    }

    @media only screen and (max-device-width: 480px) {
    }

    / @media only screen and (max-device-width: 480px) {
    /   table[class=container-responsive] {
    /     width:480px !important;
    /   }
    / }

    / @media only screen and (max-device-width: 320px) {
    /   table[class=container-responsive] {
    /     width:320px !important;
    /   }
    / }
