// Diese Datei kümmert sich darum, dass ein
// Passwort in einem entsprechenden Format
// ausgegeben wird.
@font-face {
  font-family: 'Consolas';
  src: url('<%= asset_path("fonts/Consolas.ttf") %>') format('truetype');
}

span.password {
  font-family: 'Consolas';
  letter-spacing: 0.5px;
}

.password-wrapper {
  span.password {
    background-color: rgba(0, 0, 0, 0.1);
    @media not print {
      padding: 3px 5px;
    }
  }
}
