%section.error
  .row
    .col-md-12
      %h1
        Error 500
        %small Something went wrong

      %p
        Bei der Verarbeitung Ihrer Anfrage ist etwas schief gelaufen.
        Bitte wenden Sie sich an Ihren Administator.


      - unless @exception.nil?
        %code #{@exception.message}

      %hr

      %p
        = link_to 'Back to Dashboard', admin_dashboard_overview_path, class: %w(btn btn-default)


      - if admin_user_signed_in? and current_admin_user.role? :super_administrator
        = debug(params)
        - begin
          = debug(exception)
        - rescue Exception
