- cache [ 'layouts/shared/admin/header', current_admin_user, current_principal ] do
  %header.page-header
    %nav.navbar.mega-menu{ role: :navigation }
      .container-fluid
        .clearfix.navbar-fixed-top

          %button.navbar-toggle{ type: :button, data: { toggle: :collapse, target: :'.navbar-responsive-collapse'} }
            %span.sr-only Toggle navigation
            %span.toggle-icon
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

          %a#index.class-logo{ href: eval(SquibbleAdminConfig.app.logo.href) }
            %img{ src: asset_path(SquibbleAdminConfig.app.logo.path), alt: SquibbleAdminConfig.app.name }

          .topbar-actions
            = render partial: 'layouts/shared/admin/custom_nav_content'

            - cache [ 'layouts/admin/nav/current_admin_user', current_admin_user ] do
              .btn-group-img.btn-group
                %button.btn.btn-sm.dropdown-toggle.sq-quick-sidebar-toggler{ type: :button }
                  = gravatar_tag current_admin_user.email, size: 35, secure: true
                  %span= current_admin_user.name

        = navigation
