- cache [ 'layouts/shared/admin/header', current_admin_user, current_principal ] do
  %header.page-header
    %nav.navbar.mega-menu{ role: :navigation }
      .container-fluid
        .clearfix.navbar-fixed-top

          %button.navbar-toggle{ type: :button, data: { toggle: :collapse, target: :'.navbar-responsive-collapse'} }
            %span.sr-only Toggle navigation
            %span.toggle-icon
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar

          %a#index.class-logo{ href: eval(SquibbleAdminConfig.app.logo.href) }
            %img{ src: asset_path(SquibbleAdminConfig.app.logo.path), alt: SquibbleAdminConfig.app.name }

          .topbar-actions
            = render partial: 'layouts/shared/admin/header/custom_nav_content'

            = render 'layouts/shared/admin/header/current_admin_user'

        = navigation
