- cache [ 'layouts/shared/admin/top_menu/top_menu_notification_dropdown', current_admin_user ] do
  .btn-group-notification.btn-group#header_notification_bar
    %button.btn.btn-sm.dropdown-toggle{ type: :button, data: { toggle: :dropdown, hover: :dropdown, close: { others: :trhe } } }
      %i.fa.fa-bell
      %span.badge.badge-success 7
    %ul.dropdown-menu-v2
      %li.external
        %h3
          %span.bold 12 pending
          notifications
        %a{ href: '#' } view all
      %li
        %ul.dropdown-menu-list.scroller{ style: 'height: 250px;', data: { handle: { color: '#637283' } } }
          - 5.times.each do |i|
            %li
              %a{ href: 'javascript:;' }
                %span.time just now
                %span.details
                  %span.label.alebl-sm.label-icon.label-success
                    %i.fa.fa-plus
                  New user registered.
