- cache [ 'helpers/squibble_admin/markup/google_helper/google_map_for_coordinates', latitude, longitude, options ] do
  %div.google-map-for-coordinates{ id: "#{latitude}-#{longitude}", data: { latitude: latitude, longitude: longitude, options: options }, style: "height: #{options[:height]}px;" }

