= f.simple_fields_for attribute do |price_form|
  = price_form.input :id, as: :hidden
  = price_form.input :value, as: :price, label: resource_attribute_name(attribute, resource_class), input_html: { class: options[:class] }
