- cache [ 'layouts/shared/admin/header/current_admin_user', current_admin_user ] do
  .btn-group-img.btn-group
    %button.btn.btn-sm.dropdown-toggle.sq-quick-sidebar-toggler{ type: :button }
      = image_tag current_admin_user.decorate.profile_picture_url(:square_tiny), title: current_admin_user.name, alt: current_admin_user.name, width: 35, height: 35
      %span= current_admin_user.name
